<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src= "/assets/spotlight.png" alt="Spotlight" width="30" height="30" class="d-inline-block align-text-top">
      HackerNews Spotlight
    </a>
  </div>
</nav>