<h1>Stories</h1>
<ul>
  <% @stories.each do |story| %>
    <li>
      <a href="/stories/<%=story.id%>">
      <%= story.title %>
      </a>
      <small>[<%= story.total_comment_count %> comments, <%= story.score%> points]</small>
    </li>
  <% end %>
</ul>